body {
    background-color: antiquewhite;
}
h2{
    color: brown;
}

h1 {
    color: #a37153;
    font-weight: 700;
    font-size: 50px;
}

img {
    border-radius: 1em;
}

a {
    text-decoration: none;
    font-size: larger;
    padding: 10%;
    display: inline;
 }

 a:hover {

color :blue
 }