body {
    background-image: url(./recipes/images/background-wallpaper.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
}
h2{
    color: brown;
}

h1 {
    color: #fbfafa;
    font-weight: 700;
    font-size: 50px;
}

img {
    border-radius: 1em;
    display: inline;
    margin: 0 , 0 , 20px;
    padding: 0;
}

nav ul {
    display: flex;
    margin: .10em;
    padding: 2px;
    text-transform: uppercase;
    box-sizing: border-box;
    box-sizing: inherit;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

nav ul li {
    list-style-type: none;
    margin:  0 30px;
    color: black;
    font-weight: 900;
    display: inline-block;
    
    
   
}

nav{
display: flex;
background-color: gold;
border: gold;
border-radius: 2em;
 }